user ec2-user;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /var/log/nginx/access.log  main;

  sendfile            on;
  tcp_nopush          on;
  tcp_nodelay         on;
  keepalive_timeout   65;
  types_hash_max_size 2048;

  include             /etc/nginx/mime.types;
  default_type        application/octet-stream;

  index   index.html index.htm;
  root <%= Dir.pwd %>/lodr/public;

  upstream lodr {
    server unix:///<%= Dir.pwd + '/lodr/tmp/sockets/lodr-puma.sock' %>;
  }

  server {
    listen 80 default_server deferred;
    server_name localhost;

    root <%= Dir.pwd %>/lodr/public;
    access_log <%= Dir.pwd %>/lodr/log/nginx.access.log;
    error_log <%= Dir.pwd %>/lodr/log/nginx.error.log info;

    # this is the max size nginx can receive from
    # poxy server. the buffer size is just for head
    proxy_buffers 8 48k;
    proxy_buffer_size 2k;

    location ^~ /assets/ {
      gzip_static on;
      expires max;
      add_header Cache-Control public;
    }

    # Deny external access to
    # postback api for job manager only
    location ^~ /api/xo/ {
  	   allow 127.0.0.1;
  	   deny   all;

  	   try_files $uri/index.html $uri @lodr;
    }

    # Redirect http calls coming from outside
    # Enable for https and ELB
    # location / {
    #	if ($http_x_forwarded_proto = 'http') {
    #	  	return 301 https://$host$request_uri;
    #	}
  	#   try_files $uri/index.html $uri @lodr;
    # }

    try_files $uri/index.html $uri @lodr;
    location @lodr {
  	  proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $http_host;
      proxy_redirect off;

      proxy_pass http://lodr;
    }

    error_page 500 502 503 504 /500.html;
    client_max_body_size 10M;
    keepalive_timeout 75;
  }
}
